apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- includeSelectors: true
  pairs:
    application-crd-id: kubeflow-pipelines
namespace: kubeflow
resources:
- ../../third-party/metacontroller/base
- ../../base/installs/multi-user
- ../../base/metadata/base
- ../../base/metadata/options/istio
- ../../third-party/argo/installs/cluster
- ../../third-party/mysql/base
- ../../third-party/mysql/options/istio
- ../../third-party/minio/base
- ../../third-party/minio/options/istio
