apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- includeSelectors: true
  pairs:
    app: ml-pipeline-ui
namespace: kubeflow
resources:
- cluster-role.yaml
- cluster-role-binding.yaml
