apiVersion: apps/v1
kind: Deployment
metadata:
  name: metadata-grpc-deployment
spec:
  replicas: {{< .Values.kubeflow_tools.pipelines.tfxMlMetadataStoreServer.replicas >}}
  template:
    spec:
      containers:
        - name: container
          resources:
{{< .Values.kubeflow_tools.pipelines.tfxMlMetadataStoreServer.resources | toYAML | indent 12 >}}
          args:
            - "--grpc_port=8080"
            - "--mysql_config_database=$(MYSQL_DATABASE)"
            - "--mysql_config_host=$(MYSQL_HOST)"
            - "--mysql_config_port=$(MYSQL_PORT)"
            - "--mysql_config_user=$(DBCONFIG_USER)"
            - "--mysql_config_password=$(DBCONFIG_PASSWORD)"
            - "--enable_database_upgrade=true"
            - "--grpc_channel_arguments=grpc.max_metadata_size=16384"
          env:
            ## ================================
            ## MySQL Secrets
            ## ================================
            - name: DBCONFIG_USER
              valueFrom:
                secretKeyRef:
                  name: {{< tmpl.Exec "kubeflow_pipelines.mysql.auth.secret_name" . | quote >}}
                  key: {{< tmpl.Exec "kubeflow_pipelines.mysql.auth.secret_username_key" . | quote >}}
            - name: DBCONFIG_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{< tmpl.Exec "kubeflow_pipelines.mysql.auth.secret_name" . | quote >}}
                  key: {{< tmpl.Exec "kubeflow_pipelines.mysql.auth.secret_password_key" . | quote >}}
