apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: pvcviewers.kubeflow.org
spec:
  group: kubeflow.org
  names:
    kind: PVCViewer
    listKind: PVCViewerList
    plural: pvcviewers
    singular: pvcviewer
  scope: Namespaced
  versions:
    # NOTE: volumes-web-app versions differ on which version they use.
    # We serve both to maximize compatibility, while preserving unknown fields.
    - name: v1alpha1
      served: true
      storage: false
      schema:
        openAPIV3Schema:
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              x-kubernetes-preserve-unknown-fields: true
              x-kubernetes-map-type: atomic
          required:
            - spec
    - name: v1beta1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              x-kubernetes-preserve-unknown-fields: true
              x-kubernetes-map-type: atomic
          required:
            - spec
